/*! CSS Used from: Embedded */
.fmfGOf{vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;-webkit-box-align:stretch;align-items:stretch;}
.dbQzGO{-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;z-index:1;vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;}
.brHDee{flex-shrink:1;vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-direction:column;flex-basis:auto;display:flex;-webkit-box-align:stretch;align-items:stretch;}
.btsacS{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;max-width:100%;font-family:inherit;vertical-align:inherit;font-size:15px;line-height:22px;font-weight:500;}
@media (max-width: 578px){
.btsacS{font-size:14px;line-height:20px;}
}
.khGUPw{vertical-align:inherit;}
.bvANHn{transition:all 0.08s ease-in-out 0s;vertical-align:inherit;color:inherit;padding:0px;overflow:visible;}
.ljleqb{vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;-webkit-box-align:center;align-items:center;}
.iypaTc{-webkit-box-flex:1;flex:1 0 auto;vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-direction:column;display:flex;-webkit-box-align:center;align-items:center;}
.gsfTYj{-webkit-box-align:center;align-items:center;vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;}
.irMgHl{flex-shrink:1;max-width:400px;width:100%;vertical-align:inherit;min-height:0px;min-width:0px;flex-direction:column;flex-basis:auto;display:flex;-webkit-box-align:stretch;align-items:stretch;}
.bmoIqh{opacity:1;vertical-align:inherit;width:100%;overflow:hidden;padding:0px;}
.DCWtK{vertical-align:inherit;color:inherit;padding:0px;overflow:visible;}
.cTiUzl{vertical-align:inherit;font-size:15px;line-height:22px;font-weight:700;}
@media (max-width: 578px){
.cTiUzl{font-size:14px;line-height:20px;}
}
.hEDFLn{padding-right:12px;vertical-align:middle;font-size:15px;line-height:22px;font-weight:700;}
@media (max-width: 578px){
.hEDFLn{font-size:14px;line-height:20px;}
}
.koaxQP{width:16px;height:16px;color:rgb(155, 117, 242);vertical-align:inherit;}
.hiWMCz{background:radial-gradient(100% 283.68% at 100% 0%, rgb(252, 201, 20) 0%, rgb(254, 111, 55) 47.95%, rgb(198, 106, 221) 75.34%, rgb(154, 116, 241) 100%) text;-webkit-text-fill-color:transparent;color:rgb(12, 80, 255);vertical-align:inherit;}
.fApLcB{width:32px;height:32px;vertical-align:inherit;}
.cgBsiw{width:100%;vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;-webkit-box-align:stretch;align-items:stretch;}
.jjXzGb{vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;-webkit-box-align:stretch;align-items:stretch;font-size:13px;line-height:20px;font-weight:500;}
@media (max-width: 578px){
.jjXzGb{font-size:13px;line-height:20px;}
}
.bbZcbO{font-family:inherit;font-weight:inherit;vertical-align:inherit;}
.iPPIoB{width:16px;height:16px;vertical-align:inherit;}
.eHrnYk{-webkit-box-flex:1;flex:1 0 auto;vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-direction:column;display:flex;-webkit-box-align:stretch;align-items:stretch;}
.gWPXXC{overflow-x:hidden;-webkit-box-flex:1;flex:1 0 auto;vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-direction:column;display:flex;-webkit-box-align:stretch;align-items:stretch;}
.jkwDcZ{width:100%;height:auto;position:relative;vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;-webkit-box-align:stretch;align-items:stretch;}
.dySgvk{font-family:inherit;font-weight:700;vertical-align:inherit;}
.fiAPdu{flex-shrink:1;-webkit-box-align:center;align-items:center;vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-direction:column;flex-basis:auto;display:flex;}
.jCGCEW{font-family:inherit;vertical-align:inherit;font-size:13px;line-height:20px;font-weight:500;}
@media (max-width: 578px){
.jCGCEW{font-size:13px;line-height:20px;}
}
.jqIhlj{min-width:80px;vertical-align:inherit;max-width:100%;min-height:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;-webkit-box-align:stretch;align-items:stretch;}
.dwUMQw{min-width:32px;max-width:32px;order:0;vertical-align:inherit;min-height:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;-webkit-box-align:stretch;align-items:stretch;}
.cAVXbS{min-width:120px;max-width:100%;order:1;vertical-align:inherit;min-height:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;-webkit-box-align:stretch;align-items:stretch;}
.gcxGkt{order:2;min-width:100px;max-width:10%;align-items:flex-end;vertical-align:inherit;min-height:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;}
.kawsAs{order:3;min-width:100px;max-width:10%;align-items:flex-end;vertical-align:inherit;min-height:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;}
.ftGbXz{order:4;min-width:100px;max-width:10%;align-items:flex-end;vertical-align:inherit;min-height:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;}
.jrEOny{order:5;min-width:100px;max-width:10%;align-items:flex-end;vertical-align:inherit;min-height:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;}
.ggUcdJ{order:6;min-width:100px;max-width:10%;align-items:flex-end;vertical-align:inherit;min-height:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;}
.keSOtI{order:7;min-width:100px;max-width:10%;align-items:flex-end;vertical-align:inherit;min-height:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;}
.jkcPHC{font-family:inherit;vertical-align:inherit;font-size:40px;line-height:46px;font-weight:700;}
@media (max-width: 578px){
.jkcPHC{font-size:34px;line-height:38px;}
}
.bwqpMJ{font-family:inherit;vertical-align:inherit;font-size:15px;line-height:22px;font-weight:500;}
@media (max-width: 578px){
.bwqpMJ{font-size:14px;line-height:20px;}
}
.bpKAyJ{flex:1 1 auto;-webkit-box-flex:1;vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-direction:column;display:flex;-webkit-box-align:stretch;align-items:stretch;}
.daZuOb{font-family:inherit;vertical-align:inherit;font-size:28px;line-height:32px;font-weight:700;}
@media (max-width: 578px){
.daZuOb{font-size:24px;line-height:24px;}
}
.fkLkaL{flex-shrink:0;vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-direction:column;flex-basis:auto;display:flex;-webkit-box-align:stretch;align-items:stretch;}
.cKnTjc{-webkit-box-flex:1;flex:1 0 auto;-webkit-box-align:center;align-items:center;vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-direction:column;display:flex;}
.fkDzzI{position:relative;vertical-align:inherit;}
.fnLwGK{font-family:inherit;vertical-align:inherit;font-size:22px;line-height:28px;font-weight:700;}
@media (max-width: 578px){
.fnLwGK{font-size:20px;line-height:24px;}
}
.cwPYBg{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;max-width:100%;vertical-align:inherit;font-size:15px;line-height:22px;font-weight:500;}
@media (max-width: 578px){
.cwPYBg{font-size:14px;line-height:20px;}
}
.fcNbTu{font-family:inherit;vertical-align:inherit;font-size:11px;line-height:15px;font-weight:500;}
@media (max-width: 578px){
.fcNbTu{font-size:11px;line-height:15px;}
}
.klQdEu{vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;-webkit-box-align:stretch;align-items:stretch;height:100%;width:100%;}
.iXLaWJ{-webkit-box-flex:1;flex:1 1 auto;vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-direction:column;display:flex;-webkit-box-align:stretch;align-items:stretch;}
.bNyDp{width:24px;height:24px;vertical-align:inherit;}
.cIAwlc{color:rgb(28, 45, 135);vertical-align:inherit;}
.jGKyAC{font-family:inherit;vertical-align:inherit;font-size:18px;line-height:24px;font-weight:700;}
@media (max-width: 578px){
.jGKyAC{font-size:16px;line-height:24px;}
}
.cwdNAE{color:rgb(94, 55, 166);vertical-align:inherit;}
.jfYwEI{color:rgb(218, 27, 138);vertical-align:inherit;}
.igZglg{color:rgb(60, 33, 191);vertical-align:inherit;}
.jfEIzI{color:rgb(55, 67, 102);vertical-align:inherit;}
.gtUBMR{color:rgb(32, 81, 119);vertical-align:inherit;}
.jlwsvd{color:rgb(126, 66, 53);vertical-align:inherit;}
.gGBfW{color:rgb(250, 114, 12);vertical-align:inherit;}
.iLIpYE{color:rgb(10, 63, 112);vertical-align:inherit;}
.cWRgxF{color:rgb(255, 92, 145);vertical-align:inherit;}
.fetuHt{color:rgb(0, 115, 180);vertical-align:inherit;}
.gGxRpN{color:rgb(246, 74, 110);vertical-align:inherit;}
.lnimfs{color:rgb(174, 100, 218);vertical-align:inherit;}
.buWzeM{color:rgb(0, 142, 134);vertical-align:inherit;}
.eSjdEc{color:rgb(88, 80, 76);vertical-align:inherit;}
.vmFQt{color:rgb(104, 33, 125);vertical-align:inherit;}
.fxKGNX{-webkit-box-flex:1;flex:1 0 auto;padding:16px;vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-direction:column;display:flex;-webkit-box-align:stretch;align-items:stretch;}
.crphvF{width:18px;height:18px;vertical-align:inherit;}
.ljNYuG{vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;-webkit-box-align:stretch;align-items:stretch;font-size:15px;line-height:22px;font-weight:700;}
@media (max-width: 578px){
.ljNYuG{font-size:14px;line-height:20px;}
}
.cKneOR{width:40px;height:40px;border-radius:16px;vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;-webkit-box-align:stretch;align-items:stretch;}
.joKefT{object-fit:cover;z-index:0;width:40px;height:40px;border-radius:14px;vertical-align:inherit;}
.hORqYb{border-radius:14px;width:40px;height:40px;vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;-webkit-box-align:stretch;align-items:stretch;}
.iLPZid{width:14px;height:14px;vertical-align:inherit;}
.eRVjcD{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;max-width:100%;vertical-align:inherit;}
.dcpguz{font-family:inherit;vertical-align:inherit;font-size:15px;line-height:22px;font-weight:700;}
@media (max-width: 578px){
.dcpguz{font-size:14px;line-height:20px;}
}
.jTpqKj{width:715px;vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;-webkit-box-align:stretch;align-items:stretch;}
.fOVeeS{width:228px;height:228px;vertical-align:inherit;max-width:100%;min-height:0px;min-width:0px;flex-shrink:0;flex-direction:column;flex-basis:auto;display:flex;-webkit-box-align:stretch;align-items:stretch;}
.bpyibp{border-width:0px;border-style:solid;border-color:rgb(255, 255, 255);}
.cBWbiv{-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;}
.jbUMxC{-webkit-box-flex:1;flex-grow:1;}
.kkNrZs{flex-flow:row nowrap;}
.kkNrZs > :not(:last-child){margin-right:12px;margin-bottom:0px;}
.dzoINS{flex-flow:row nowrap;}
.dzoINS > :not(:last-child){margin-right:14px;margin-bottom:0px;}
.bkFJJp{flex-flow:row nowrap;}
.bkFJJp > :not(:last-child){margin-right:24px;margin-bottom:0px;}
.faxDfx{flex-flow:row nowrap;}
.faxDfx > :not(:last-child){margin-right:6px;margin-bottom:0px;}
.lclNoY{flex-flow:row nowrap;}
.lclNoY > :not(:last-child){margin-right:16px;margin-bottom:0px;}
.iYyluT{flex-flow:row nowrap;}
.iYyluT > :not(:last-child){margin-right:0px;margin-bottom:0px;}
.bgBTbH{flex-flow:row nowrap;}
.bgBTbH > :not(:last-child){margin-right:8px;margin-bottom:0px;}
.fHtAGj{flex-flow:row nowrap;}
.fHtAGj > :not(:last-child){margin-right:4px;margin-bottom:0px;}
.emUAmb{flex-flow:column;}
.emUAmb > :not(:last-child){margin-bottom:16px;margin-right:0px;}
.eXnWnw{flex-flow:column;}
.eXnWnw > :not(:last-child){margin-bottom:48px;margin-right:0px;}
.jMiotx{flex-flow:column;}
.jMiotx > :not(:last-child){margin-bottom:36px;margin-right:0px;}
.eWJQRY{flex-flow:column;}
.eWJQRY > :not(:last-child){margin-bottom:8px;margin-right:0px;}
.fyQwKa{flex-flow:column;}
.fyQwKa > :not(:last-child){margin-bottom:24px;margin-right:0px;}
.iCstKv{flex-flow:column;}
.iCstKv > :not(:last-child){margin-bottom:12px;margin-right:0px;}
.bmAfUA{flex-flow:column;}
.bmAfUA > :not(:last-child){margin-bottom:4px;margin-right:0px;}
.iBNkBO{flex-flow:column;}
.iBNkBO > :not(:last-child){margin-bottom:2px;margin-right:0px;}
.dCDufk{color:rgba(255, 255, 255, 0.6);}
.gSuNfc{color:rgb(255, 255, 255);}
.kSrpvE{color:rgba(255, 255, 255, 0.85);}
.iHRMzZ{white-space:nowrap;}
.hDFWFj{-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;position:relative;width:38px;height:38px;border-radius:8px;overflow:hidden;transform:translateZ(0px);background:rgb(254, 218, 3);}
body{margin:0px;}
h1{font-size:2em;margin:0.67em 0px;}
a{background-color:transparent;}
img{border-style:none;}
button,input{font-family:inherit;font-size:100%;line-height:1.15;margin:0px;}
button,input{overflow:visible;}
button{text-transform:none;}
button,html [type="button"],[type="submit"]{appearance:button;}
body,div,span,iframe,h1,h3,p,a,img,form{margin:0px;padding:0px;border:0px;font:inherit;vertical-align:baseline;}
body{line-height:1;}
*{box-sizing:border-box;outline:none;}
a{text-decoration:none;}
body{font-family:Inter, Helvetica, Arial, sans-serif;-webkit-tap-highlight-color:transparent;font-weight:400;line-height:1.4;overflow:hidden scroll;max-width:100%;color:rgb(255, 255, 255);background:rgb(25, 28, 31);}
input{outline:none;}
.eRamjX{max-width:100%;min-height:100vh;width:100%;}
.fuQlPC{background:transparent;border:none;cursor:pointer;line-height:normal;}
.iZSLEm{display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;flex-flow:row nowrap;position:relative;white-space:nowrap;background:rgba(255, 255, 255, 0.04);line-height:40px;height:40px;border:1px solid transparent;min-width:auto;font-size:14px;border-radius:12px;padding:6px 16px;font-weight:900;font-family:inherit;transition:all 0.15s ease-in-out 0s;transform-origin:center center;user-select:none;}
.iZSLEm:disabled{background:rgba(255, 255, 255, 0.08);color:rgba(255, 255, 255, 0.6);cursor:not-allowed;border-color:transparent;}
.iZSLEm:not(:disabled):active{transform:scale(0.95);}
.iZSLEm:not(:disabled):hover,.iZSLEm:not(:disabled):focus{background:rgba(255, 255, 255, 0.1);color:rgb(255, 255, 255);}
.btBtPv{display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;flex-flow:row nowrap;position:relative;white-space:nowrap;background:rgba(255, 255, 255, 0.04);line-height:56px;height:56px;border:1px solid transparent;min-width:100%;font-size:16px;border-radius:16px;padding:10px 22px;font-weight:900;font-family:inherit;transition:all 0.15s ease-in-out 0s;transform-origin:center center;user-select:none;}
.btBtPv:disabled{background:rgba(255, 255, 255, 0.08);color:rgba(255, 255, 255, 0.6);cursor:not-allowed;border-color:transparent;}
.btBtPv:not(:disabled):active{transform:scale(0.95);}
.btBtPv:not(:disabled):hover,.btBtPv:not(:disabled):focus{background:rgba(255, 255, 255, 0.1);color:rgb(255, 255, 255);}
.gZEMhw{display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;flex-flow:row nowrap;position:relative;white-space:nowrap;background:rgba(255, 255, 255, 0.04);line-height:56px;height:56px;border:1px solid transparent;min-width:auto;font-size:16px;border-radius:16px;padding:10px 22px;font-weight:900;font-family:inherit;transition:all 0.15s ease-in-out 0s;transform-origin:center center;user-select:none;}
.gZEMhw:disabled{background:rgba(255, 255, 255, 0.08);color:rgba(255, 255, 255, 0.6);cursor:not-allowed;border-color:transparent;}
.gZEMhw:not(:disabled):active{transform:scale(0.95);}
.gZEMhw:not(:disabled):hover,.gZEMhw:not(:disabled):focus{background:rgba(255, 255, 255, 0.1);color:rgb(255, 255, 255);}
.eLNVDC{display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;flex-flow:row nowrap;position:relative;white-space:nowrap;background:rgba(255, 255, 255, 0.04);line-height:48px;height:48px;border:1px solid transparent;min-width:auto;font-size:14px;border-radius:16px;padding:8px 18px;font-weight:900;font-family:inherit;transition:all 0.15s ease-in-out 0s;transform-origin:center center;user-select:none;}
.eLNVDC:disabled{background:rgba(255, 255, 255, 0.08);color:rgba(255, 255, 255, 0.6);cursor:not-allowed;border-color:transparent;}
.eLNVDC:not(:disabled):active{transform:scale(0.95);}
.eLNVDC:not(:disabled):hover,.eLNVDC:not(:disabled):focus{background:rgba(255, 255, 255, 0.1);color:rgb(255, 255, 255);}
.cxoIEs{border-color:rgba(255, 255, 255, 0.08);color:rgb(255, 255, 255);background:transparent;}
.cxoIEs:not(:disabled):hover,.cxoIEs:not(:disabled):focus{background:transparent;color:rgb(255, 255, 255);border-color:rgba(255, 255, 255, 0.18);}
.eZVjNo{border-color:rgb(255, 255, 255);color:rgb(25, 28, 31);background:rgb(255, 255, 255);}
.eZVjNo:not(:disabled):hover,.eZVjNo:not(:disabled):focus{color:rgb(25, 28, 31);border-color:rgb(255, 255, 255);background:rgb(255, 255, 255);}
.hTHHgt{border:none;}
.hTHHgt:not(:disabled):hover,.hTHHgt:not(:disabled):focus{background:rgba(255, 255, 255, 0.1);}
.cxUJRs{display:inline-flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;transition:all 0.15s ease-in-out 0s;opacity:1;height:100%;}
.cxUJRs > :not(:last-child){margin-right:14px;}
.kbJDvK{line-height:0;vertical-align:middle;}
.gfPpCa{transition:all 0.15s ease-in-out 0s;text-decoration:none;color:rgb(255, 255, 255);}
.gfPpCa:hover,.gfPpCa:focus,.gfPpCa:active{color:rgba(255, 255, 255, 0.9);}
.dnoDYu{transition:all 0.15s ease-in-out 0s;text-decoration:none;color:rgb(255, 255, 255);}
.dnoDYu:hover{color:rgb(255, 255, 255);cursor:pointer;}
.jPiiLb{transition:all 0.15s ease-in-out 0s;text-decoration:none;color:rgba(255, 255, 255, 0.6);}
.jPiiLb:hover,.jPiiLb:focus,.jPiiLb:active{color:rgba(255, 255, 255, 0.9);}
.kAthlv{transition:all 0.15s ease-in-out 0s;text-decoration:none;color:inherit;}
.kAthlv:hover,.kAthlv:focus,.kAthlv:active{color:rgba(255, 255, 255, 0.9);}
.aRpfW{animation:1s linear 0s infinite normal none running kVyUDU;background:rgb(255, 255, 255);}
.iRdXUj{max-height:100%;max-width:100%;}
.UTUAt .ScrollbarsCustom-Track{transition:all 0.15s ease-in-out 0s;opacity:0;}
.UTUAt .ScrollbarsCustom-Track{transition:all 0.15s ease-in-out 0s;opacity:0;}
@media (hover: hover){
.UTUAt:hover .ScrollbarsCustom-Track{opacity:1;}
}
.fzGTHa{white-space:nowrap;vertical-align:middle;transition:all 0.15s ease-in-out 0s;}
.lkedmh{-webkit-box-pack:center;justify-content:center;user-select:none;color:rgba(255, 255, 255, 0.6);transition:all 0.15s ease-in-out 0s;position:relative;padding-left:16px;padding-right:16px;font-size:15px;}
.lkedmh:not(:disabled):hover,.lkedmh:not(:disabled):focus{color:rgb(255, 255, 255);background:transparent;}
.gjODkg{-webkit-box-pack:center;justify-content:center;user-select:none;color:rgb(255, 255, 255);transition:all 0.15s ease-in-out 0s;position:relative;padding-left:16px;padding-right:16px;font-size:15px;}
.gjODkg:not(:disabled):hover,.gjODkg:not(:disabled):focus{color:rgb(255, 255, 255);background:transparent;}
.fxkQdO{width:auto;}
.iDtEbI .ScrollbarsCustom-Content{width:0px;background:rgba(255, 255, 255, 0.04);border-radius:16px;}
.iDtEbI .ScrollbarsCustom-Wrapper{border-radius:16px;}
.ERFVj{flex-flow:row nowrap;-webkit-box-align:stretch;align-items:stretch;width:fit-content;position:relative;margin:auto;}
.flFQrB{position:absolute;left:0px;top:0px;height:40px;transition:all 0.15s ease-in-out 0s;border-radius:14px;background:rgb(25, 28, 31);}
.kiDgpE .slider,.kiDgpE .rail{height:36px;}
.kiDgpE [role="tab"]{height:36px;font-size:13px;}
.LmpiG{height:48px;width:48px;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;padding:0px;}
.hevIDx{width:100%;margin:0px auto;max-width:1920px;}
.bgCtgJ{padding:0px 16px;}
@media (min-width: 578px){
.bgCtgJ{padding:0px 24px;}
}
@media (min-width: 768px){
.bgCtgJ{padding:0px 28px;}
}
@media (min-width: 981px){
.bgCtgJ{padding:0px 32px;}
}
.fOfzPD{width:100%;height:1px;background:rgba(255, 255, 255, 0.08);}
.fiLEPs{width:1px;height:100%;background:rgba(255, 255, 255, 0.08);}
.dYZLFL{color:rgba(255, 255, 255, 0.6);height:32px;border-radius:8px;padding:0px 8px;}
.dYZLFL:hover,.dYZLFL:focus{color:rgb(255, 255, 255);}
.gTyHHT{color:rgba(255, 255, 255, 0.6);transition:all 0.15s ease-in-out 0s;}
.gTyHHT:hover,.gTyHHT:focus{color:rgb(255, 255, 255);}
.cKaZkY{flex-flow:row wrap;text-align:center;}
.jHrWjn > *{margin:4px 16px;}
.cvgbWe > *{margin:4px 12px;}
.hiRtIv{text-decoration:line-through;}
.joQolq{display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;color:rgba(255, 255, 255, 0.6);width:24px;height:24px;}
.joQolq:hover,.joQolq:focus{color:rgb(255, 255, 255);}
.kRUaUp{height:30px;}
.ibbczV{-webkit-box-align:center;align-items:center;flex-wrap:nowrap;padding-left:16px;padding-right:12px;background-color:rgb(36, 41, 45);min-height:50px;border-radius:14px;border:1px solid rgba(255, 255, 255, 0.08);box-shadow:rgba(0, 0, 0, 0.1) 0px 10px 40px 0px;}
.ghSfOF{animation-timing-function:cubic-bezier(0.4, 0, 0.2, 1);animation-fill-mode:both;animation-duration:300ms;animation-name:kTywwD;}
.bCjJCA{position:fixed;-webkit-box-pack:end;justify-content:flex-end;align-items:flex-start;left:24px;right:24px;bottom:24px;z-index:140;height:0px;}
@media (max-width: 578px){
.bCjJCA{-webkit-box-align:stretch;align-items:stretch;}
}
.cFDhWW{background:transparent;border-width:0px;color:rgba(255, 255, 255, 0.8);outline:none;font-size:15px;}
.cFDhWW::placeholder{color:rgba(255, 255, 255, 0.4);}
.OFuGm{cursor:auto;}
.fFWyQS{display:flex;flex-shrink:0;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;background:rgba(255, 255, 255, 0.08);color:rgba(255, 255, 255, 0.6);border-radius:8px;font-size:13px;line-height:17px;height:24px;padding:0px 8px;cursor:default;width:24px;}
.fFWyQS:not(:disabled):focus,.fFWyQS:not(:disabled):hover{cursor:pointer;background:rgba(255, 255, 255, 0.1);color:rgba(255, 255, 255, 0.85);}
.iUkgbr{-webkit-box-flex:1;flex-grow:1;flex-shrink:1;padding:0px 8px;}
.bXJfpJ{-webkit-box-align:center;align-items:center;-webkit-box-pack:justify;justify-content:space-between;-webkit-box-flex:1;flex-grow:1;}
.jPIisa{cursor:text;}
.hUUMoV{position:relative;-webkit-box-pack:center;justify-content:center;background:rgba(255, 255, 255, 0.04);border:1px solid transparent;transition:all 0.15s ease-in-out 0s;overflow:hidden;min-height:40px;padding:6px 12px;border-radius:12px;font-size:14px;}
.hUUMoV:hover{border-color:rgba(255, 255, 255, 0.2);}
.hUUMoV input{font-size:inherit;font-weight:inherit;cursor:inherit;}
.swNPX{position:relative;-webkit-box-pack:center;justify-content:center;background:rgba(255, 255, 255, 0.04);border:1px solid transparent;transition:all 0.15s ease-in-out 0s;overflow:hidden;min-height:56px;padding:10px 16px;border-radius:16px;font-size:16px;}
.swNPX:hover{border-color:rgba(255, 255, 255, 0.2);}
.swNPX input{font-size:inherit;font-weight:inherit;cursor:inherit;}
.hAEixe{transition:opacity 0.33s ease-in-out 0s;opacity:0;position:absolute;}
.kAZnGo{object-fit:contain;}
.esuWtk{border-width:0px;border-color:rgb(25, 28, 31);background:rgb(25, 28, 31);position:relative;}
.ctDvEN{position:absolute;right:-4px;bottom:-4px;z-index:10;}
.jtEPuz{flex-direction:column;-webkit-box-flex:1;flex-grow:1;width:100%;}
.gJdIeI{display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;position:relative;width:40px;height:40px;}
.iEmMqe{height:40px;-webkit-box-align:center;align-items:center;}
.dqVggn{display:flex;-webkit-box-align:center;align-items:center;flex-flow:row nowrap;}
.dqVggn > :not(:last-child){margin-right:4px;margin-bottom:0px;}
.idGelp{z-index:100;inset:0px 0px auto;position:sticky;background:rgb(25, 28, 31);-webkit-box-pack:center;justify-content:center;height:80px;}
.fCHvcK{-webkit-box-flex:1;flex-grow:1;margin:0px auto;}
@media (min-width: 768px){
.fCHvcK{margin:0px auto;}
}
@media (min-width: 981px){
.fCHvcK{margin:0px auto;}
}
.eZTQCZ{position:relative;height:100%;overflow:hidden;margin:0px;padding:0px;-webkit-mask-image:linear-gradient(to left, transparent, black 0px, black calc(100% - 0px), transparent);}
.cDOYqo{position:relative;height:100%;overflow:hidden;margin:0px -40px;padding:0px 40px;-webkit-mask-image:linear-gradient(to left, transparent, black 40px, black calc(100% - 40px), transparent);}
.iboDrO{display:flex;flex-direction:row;height:100%;width:initial;margin-left:-24px;}
.iboCBr{display:flex;flex-direction:row;height:100%;width:initial;margin-left:-16px;}
.cfsbwP{display:flex;flex-direction:column;padding-left:24px;width:100%;min-width:100%;}
.cfsbwP > *{display:flex;-webkit-box-flex:1;flex-grow:1;}
.cWvgGq{display:flex;flex-direction:column;padding-left:16px;width:33.3333%;min-width:33.3333%;}
.cWvgGq > *{display:flex;-webkit-box-flex:1;flex-grow:1;}
.bqYVQZ{z-index:10;width:40px;height:40px;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;position:absolute;left:auto;right:-20px;top:50%;margin-top:-20px;border-radius:14px;border:1px solid rgba(255, 255, 255, 0.04);box-shadow:rgba(0, 0, 0, 0.08) 0px 2px 8px;}
@media (hover: none){
.bqYVQZ{display:none;}
}
@media (max-width: 768px){
.bqYVQZ{left:auto;right:-10px;}
}
.bqYVQZ,.bqYVQZ:disabled{color:rgb(255, 255, 255);background:rgb(39, 43, 48);cursor:pointer;}
.bqYVQZ:not(:disabled):hover,.bqYVQZ:not(:disabled):focus{transform:scale(1.15);background:rgb(48, 54, 59);border-color:rgba(255, 255, 255, 0.04);}
.bqYVQZ:not(:disabled):active{transform:scale(1.1);}
.hRsOGc{padding:0px 20%;margin-top:48px;margin-bottom:6px;}
.fItcLp{position:relative;max-width:440px;width:100%;height:4px;border-radius:4px;background:rgba(255, 255, 255, 0.08);}
.jMehXd{will-change:transform;background:rgba(255, 255, 255, 0.6);transition:all 0.15s ease-in-out 0s;position:absolute;left:0px;top:-1px;height:6px;border-radius:6px;}
.cBOKOc{color:rgb(255, 255, 255);}
.djYthR{color:rgba(255, 255, 255, 0.6);}
.iQXfUC{display:flex;flex-flow:column;padding:8px;color:rgb(255, 255, 255);background:rgb(28, 45, 135);transition:all 0.15s ease-in-out 0s;will-change:transform;border-radius:14px;}
@media (hover: hover){
.iQXfUC:hover,.iQXfUC:focus{transform:translateY(-4px);color:rgb(255, 255, 255);}
}
.iQXfUC > :not(:last-child){margin-bottom:20px;}
.gZjTIu{display:flex;flex-flow:column;padding:8px;color:rgb(255, 255, 255);background:rgb(94, 55, 166);transition:all 0.15s ease-in-out 0s;will-change:transform;border-radius:14px;}
@media (hover: hover){
.gZjTIu:hover,.gZjTIu:focus{transform:translateY(-4px);color:rgb(255, 255, 255);}
}
.gZjTIu > :not(:last-child){margin-bottom:20px;}
.jfTrQO{display:flex;flex-flow:column;padding:8px;color:rgb(255, 255, 255);background:rgb(218, 27, 138);transition:all 0.15s ease-in-out 0s;will-change:transform;border-radius:14px;}
@media (hover: hover){
.jfTrQO:hover,.jfTrQO:focus{transform:translateY(-4px);color:rgb(255, 255, 255);}
}
.jfTrQO > :not(:last-child){margin-bottom:20px;}
.dHJJoW{display:flex;flex-flow:column;padding:8px;color:rgb(255, 255, 255);background:rgb(60, 33, 191);transition:all 0.15s ease-in-out 0s;will-change:transform;border-radius:14px;}
@media (hover: hover){
.dHJJoW:hover,.dHJJoW:focus{transform:translateY(-4px);color:rgb(255, 255, 255);}
}
.dHJJoW > :not(:last-child){margin-bottom:20px;}
.cxbMQK{display:flex;flex-flow:column;padding:8px;color:rgb(255, 255, 255);background:rgb(55, 67, 102);transition:all 0.15s ease-in-out 0s;will-change:transform;border-radius:14px;}
@media (hover: hover){
.cxbMQK:hover,.cxbMQK:focus{transform:translateY(-4px);color:rgb(255, 255, 255);}
}
.cxbMQK > :not(:last-child){margin-bottom:20px;}
.fAkVmj{display:flex;flex-flow:column;padding:8px;color:rgb(255, 255, 255);background:rgb(32, 81, 119);transition:all 0.15s ease-in-out 0s;will-change:transform;border-radius:14px;}
@media (hover: hover){
.fAkVmj:hover,.fAkVmj:focus{transform:translateY(-4px);color:rgb(255, 255, 255);}
}
.fAkVmj > :not(:last-child){margin-bottom:20px;}
.iULajj{display:flex;flex-flow:column;padding:8px;color:rgb(255, 255, 255);background:rgb(126, 66, 53);transition:all 0.15s ease-in-out 0s;will-change:transform;border-radius:14px;}
@media (hover: hover){
.iULajj:hover,.iULajj:focus{transform:translateY(-4px);color:rgb(255, 255, 255);}
}
.iULajj > :not(:last-child){margin-bottom:20px;}
.fJtmMg{display:flex;flex-flow:column;padding:8px;color:rgb(255, 255, 255);background:rgb(250, 114, 12);transition:all 0.15s ease-in-out 0s;will-change:transform;border-radius:14px;}
@media (hover: hover){
.fJtmMg:hover,.fJtmMg:focus{transform:translateY(-4px);color:rgb(255, 255, 255);}
}
.fJtmMg > :not(:last-child){margin-bottom:20px;}
.dMToCC{display:flex;flex-flow:column;padding:8px;color:rgb(255, 255, 255);background:rgb(10, 63, 112);transition:all 0.15s ease-in-out 0s;will-change:transform;border-radius:14px;}
@media (hover: hover){
.dMToCC:hover,.dMToCC:focus{transform:translateY(-4px);color:rgb(255, 255, 255);}
}
.dMToCC > :not(:last-child){margin-bottom:20px;}
.fIXBtf{display:flex;flex-flow:column;padding:8px;color:rgb(255, 255, 255);background:rgb(255, 92, 145);transition:all 0.15s ease-in-out 0s;will-change:transform;border-radius:14px;}
@media (hover: hover){
.fIXBtf:hover,.fIXBtf:focus{transform:translateY(-4px);color:rgb(255, 255, 255);}
}
.fIXBtf > :not(:last-child){margin-bottom:20px;}
.hDCHZr{display:flex;flex-flow:column;padding:8px;color:rgb(255, 255, 255);background:rgb(0, 115, 180);transition:all 0.15s ease-in-out 0s;will-change:transform;border-radius:14px;}
@media (hover: hover){
.hDCHZr:hover,.hDCHZr:focus{transform:translateY(-4px);color:rgb(255, 255, 255);}
}
.hDCHZr > :not(:last-child){margin-bottom:20px;}
.jaeOkr{display:flex;flex-flow:column;padding:8px;color:rgb(255, 255, 255);background:rgb(246, 74, 110);transition:all 0.15s ease-in-out 0s;will-change:transform;border-radius:14px;}
@media (hover: hover){
.jaeOkr:hover,.jaeOkr:focus{transform:translateY(-4px);color:rgb(255, 255, 255);}
}
.jaeOkr > :not(:last-child){margin-bottom:20px;}
.lffFpq{display:flex;flex-flow:column;padding:8px;color:rgb(255, 255, 255);background:rgb(174, 100, 218);transition:all 0.15s ease-in-out 0s;will-change:transform;border-radius:14px;}
@media (hover: hover){
.lffFpq:hover,.lffFpq:focus{transform:translateY(-4px);color:rgb(255, 255, 255);}
}
.lffFpq > :not(:last-child){margin-bottom:20px;}
.cZpIri{display:flex;flex-flow:column;padding:8px;color:rgb(255, 255, 255);background:rgb(0, 142, 134);transition:all 0.15s ease-in-out 0s;will-change:transform;border-radius:14px;}
@media (hover: hover){
.cZpIri:hover,.cZpIri:focus{transform:translateY(-4px);color:rgb(255, 255, 255);}
}
.cZpIri > :not(:last-child){margin-bottom:20px;}
.eBEHRe{display:flex;flex-flow:column;padding:8px;color:rgb(255, 255, 255);background:rgb(88, 80, 76);transition:all 0.15s ease-in-out 0s;will-change:transform;border-radius:14px;}
@media (hover: hover){
.eBEHRe:hover,.eBEHRe:focus{transform:translateY(-4px);color:rgb(255, 255, 255);}
}
.eBEHRe > :not(:last-child){margin-bottom:20px;}
.jVeRhv{display:flex;flex-flow:column;padding:8px;color:rgb(255, 255, 255);background:rgb(104, 33, 125);transition:all 0.15s ease-in-out 0s;will-change:transform;border-radius:14px;}
@media (hover: hover){
.jVeRhv:hover,.jVeRhv:focus{transform:translateY(-4px);color:rgb(255, 255, 255);}
}
.jVeRhv > :not(:last-child){margin-bottom:20px;}
.hTrfMH{position:relative;-webkit-box-flex:1;flex-grow:1;flex-shrink:1;padding:0px 8px 12px;}
.jzoKXx{flex-shrink:0;background:rgba(255, 255, 255, 0.1);border-radius:12px;}
.iLoKFj{border-radius:12px;}
.gsDRSx{flex-flow:row nowrap;}
.gsDRSx > :not(:last-child){margin-right:16px;padding-right:16px;border-right:1px solid rgba(255, 255, 255, 0.08);}
.UTmal{color:rgba(255, 255, 255, 0.6);}
.eXKNAo{color:rgb(255, 255, 255);}
.jVxwcO{position:relative;display:inline-block;}
.jVxwcO::before{content:"";position:absolute;transition:all 0.15s ease-in-out 0s;left:0px;right:0px;bottom:-2px;height:1px;background:rgba(255, 255, 255, 0.1);}
@media (hover: hover){
.jVxwcO:hover::before{background:rgba(255, 255, 255, 0.6);}
}
.ccnGtf{-webkit-box-align:center;align-items:center;padding:32px;border-radius:24px;background-color:rgb(40, 44, 75);flex-direction:row;}
.ccnGtf > :first-child{margin-right:48px;}
@media (max-width: 768px){
.ccnGtf{flex-direction:column;}
.ccnGtf > :first-child{margin-right:0px;margin-bottom:40px;}
}
.gYYvjN{flex:0 0 280px;align-items:flex-start;}
@media (max-width: 768px){
.gYYvjN{flex-basis:auto;-webkit-box-align:center;align-items:center;text-align:center;}
}
.jMWkbY{word-break:break-word;overflow:hidden;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
.bquXDE{border-radius:10px;height:240px;object-fit:cover;}
.cBysxd{display:flex;flex-direction:column;-webkit-box-flex:1;flex-grow:1;border-radius:14px;padding:8px;transition:all 0.15s ease-in-out 0s;border:1px solid rgba(255, 255, 255, 0.08);}
.cBysxd:hover,.cBysxd:focus{transform:translateY(-4px);box-shadow:rgba(255, 255, 255, 0.08) 0px 0px 0px 2px;}
.fCRdrM{border-radius:10px;overflow:hidden;background:rgba(255, 255, 255, 0.04);}
.jaVvmw{color:rgba(255, 255, 255, 0.4);}
@media (min-width: 1080px){
.gYHuin{padding:0px 24px;}
}
.kZJZdC{-webkit-box-align:center;align-items:center;flex-shrink:1;-webkit-box-flex:1;flex-grow:1;}
.kZJZdC > :not(:nth-child(2)){flex-basis:auto;flex-shrink:1;}
.gTvykz{grid-area:floor / floor / floor / floor;}
.fwzsmH{grid-area:blockchain / blockchain / blockchain / blockchain;}
.dVnCxS{grid-area:periods / periods / periods / periods;}
.kVEMNY{display:grid;grid-template:"blockchain" "periods" "floor" / 1fr;gap:16px 24px;}
@media (min-width: 638px){
.kVEMNY{grid-template-columns:minmax(min-content, 1fr) 1fr;grid-template-areas:"periods blockchain" "floor .";}
}
@media (min-width: 966px){
.kVEMNY{padding-left:16px;padding-right:16px;grid-template-columns:min-content min-content min-content 1fr;grid-template-areas:"periods blockchain floor .";}
}
.ZKrRZ{font-size:15px;max-width:100%;width:100%;}
.hysWcd{border-radius:22px;border:1px solid rgba(255, 255, 255, 0.08);padding:6px;}
.giHuYL{padding:0px 28px;max-width:100%;width:100%;height:100%;border-radius:16px;overflow:hidden;}
.ljOLGq{width:100%;height:100%;position:relative;}
.ljOLGq::after{content:"";transition:all 0.15s ease-in-out 0s;position:absolute;inset:0px;opacity:0;transform:scale(0.9);border-radius:16px;background:rgba(255, 255, 255, 0.04);z-index:-1;}
.ljOLGq:not(:disabled):hover::after,.ljOLGq:not(:disabled):focus::after{opacity:1;transform:scale(1);}
.ljOLGq:not(:disabled):active::after{transform:scale(0.95);background:rgba(255, 255, 255, 0.08);}
.hNlXsh{vertical-align:middle;}
.jcZsZL{padding:3px 6px;margin-left:-3px;width:max-content;white-space:nowrap;-webkit-box-align:center;align-items:center;min-height:24px;}
.drqqBO{padding:3px 6px;margin-left:-3px;width:max-content;white-space:nowrap;-webkit-box-align:center;align-items:center;min-height:24px;cursor:pointer;user-select:none;}
.fNfDPW{padding:3px 6px;margin-left:-3px;width:max-content;white-space:nowrap;-webkit-box-align:center;align-items:center;min-height:24px;cursor:pointer;user-select:none;background:rgba(255, 255, 255, 0.04);border-radius:8px;color:rgb(255, 255, 255);}
.cFzzNc{flex-shrink:1;-webkit-box-flex:1;flex-grow:1;width:100%;font-size:11px;text-transform:uppercase;}
.kfcfOw{font-size:13px;font-weight:500;padding:6px;margin-bottom:8px;color:rgba(255, 255, 255, 0.6);}
.hwXRYa{flex-shrink:1;-webkit-box-flex:1;flex-grow:1;width:100%;height:100%;-webkit-box-pack:center;justify-content:center;}
.blmLRK{color:rgb(40, 184, 51);}
.hRPtOV{color:rgb(233, 73, 73);}
.HNxa{flex-flow:column;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;max-width:980px;width:100%;}
.HNxa > :not(:last-child){margin-bottom:32px;margin-right:0px;}
@media (min-width: 768px){
.HNxa{flex-flow:row nowrap;}
.HNxa > :not(:last-child){margin-right:42px;margin-bottom:0px;}
}
@media (min-width: 981px){
.HNxa{flex-flow:row nowrap;}
.HNxa > :not(:last-child){margin-right:64px;margin-bottom:0px;}
}
@media (min-width: 1366px){
.HNxa{flex-flow:row nowrap;}
.HNxa > :not(:last-child){margin-right:98px;margin-bottom:0px;}
}
.dGkneH{width:100%;padding-top:100%;position:relative;flex-shrink:0;}
@media (min-width: 768px){
.dGkneH{padding-top:0px;height:320px;width:320px;}
}
@media (min-width: 981px){
.dGkneH{height:420px;width:420px;}
}
@media (min-width: 1366px){
.dGkneH{height:460px;width:460px;}
}
.kbnQbG{position:absolute;inset:0px;}
.cvxQoZ{border-radius:8px;}
.hnJkrD{object-fit:cover;width:100%;height:100%;border-radius:8px;transform:translateZ(0px);}
.hzeoWO{text-align:center;}
.hzeoWO > :not(:last-child){margin-bottom:16px;margin-right:0px;}
@media (min-width: 768px){
.hzeoWO{text-align:left;}
}
@media (min-width: 981px){
.hzeoWO > :not(:last-child){margin-bottom:24px;margin-right:0px;}
}
.jjAsOk{color:rgba(255, 255, 255, 0.85);}
.laLsbs{min-width:fit-content;flex-flow:row wrap;margin-left:-6px;}
@media (max-width: 768px){
.laLsbs{-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;}
}
.jPAeXL{margin:2px 6px;}
.fzRuFV{-webkit-box-pack:center;justify-content:center;border-radius:16px;transition:all 0.15s ease-in-out 0s;width:100%;padding:16px;}
@media (min-width: 768px){
.fzRuFV{padding:64px 32px;}
}
.hUyLzZ{-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;display:flex;color:rgba(255, 255, 255, 0.85);transition:all 0.15s ease-in-out 0s;width:32px;height:32px;}
.hUyLzZ:not(:disabled):hover,.hUyLzZ:not(:disabled):focus{color:rgb(255, 255, 255);}
.hUyLzZ:disabled{color:rgba(255, 255, 255, 0.4);cursor:not-allowed;}
.dbImjx{vertical-align:middle;background:rgba(255, 255, 255, 0.08);border-radius:6px;padding:2px 6px;margin-left:8px;}
.bSJdkd{padding:24px 0px;display:grid;grid-template:"subscribe subscribe" "marketplace links" "socials ." / repeat(2, 1fr);gap:32px 16px;}
@media (min-width: 420px){
.bSJdkd{grid-template-columns:repeat(3, 1fr);grid-template-areas:"subscribe subscribe subscribe" "marketplace links socials";}
}
@media (min-width: 1080px){
.bSJdkd{grid-template:"subscribe marketplace links socials" 1fr / 5fr 3fr 3fr 3fr;column-gap:48px;}
}
@media (min-width: 1080px){
.bSJdkd{padding:64px 24px;column-gap:84px;}
}
.btdWdW{grid-area:subscribe / subscribe / subscribe / subscribe;}
.gxOAtm{grid-area:marketplace / marketplace / marketplace / marketplace;}
.jIVEbX{grid-area:links / links / links / links;}
.hPzWGK{grid-area:socials / socials / socials / socials;}
.kyQEDY > :not(:last-child){margin-bottom:16px;}
@media (min-width: 768px){
.kyQEDY > :not(:last-child){margin-bottom:32px;}
}
.fHlrNx{-webkit-box-flex:1;flex-grow:1;padding-bottom:32px;}
.hNapfF{-webkit-box-flex:1;flex-grow:1;flex-shrink:1;margin-bottom:32px;}
/*! CSS Used from: Embedded */
.resize-triggers{animation:1ms resizeanim;visibility:hidden;opacity:0;}
.resize-triggers,.resize-triggers > div,.contract-trigger:before{content:" ";display:block;position:absolute;top:0;left:0;height:100%;width:100%;overflow:hidden;z-index:-1;}
.resize-triggers > div{background:#eee;overflow:auto;}
.contract-trigger:before{width:200%;height:200%;}
/*! CSS Used keyframes */
@-webkit-keyframes kTywwD{0%{opacity:0;transform:translateY(20px);}100%{opacity:1;transform:translateY(0px);}}
@keyframes kTywwD{0%{opacity:0;transform:translateY(20px);}100%{opacity:1;transform:translateY(0px);}}
/*! CSS Used fontfaces */
@font-face{font-weight:100;font-family:"Inter";src:local("Inter"), url(https://rarible.com/public/8c206db99195777c6769.woff) format("woff"),     url(https://rarible.com/public/c8ba52b05a9ef10f4758.woff2) format("woff2");}
@font-face{font-weight:500;font-family:"Inter";src:local("Inter Medium"), url(https://rarible.com/public/9053572c46aeb4b16caa.woff) format("woff"),     url(https://rarible.com/public/293fd13dbca5a3e450ef.woff2) format("woff2");}
@font-face{font-weight:600;font-family:"Inter";src:local("Inter Semi-Bold"), url(https://rarible.com/public/cca62d21c8c555c392e5.woff) format("woff"),     url(https://rarible.com/public/b5f0f109bc88052d4000.woff2) format("woff2");}